* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.background,
.footer {
  background-color: #1f2937;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 4px 24px;
  border: none;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

a,
.secondary,
.footer {
  font-size: 18px;
  color: #e5e7eb;
}

.CTA > button {
  border: 1px solid white;
}

/* Navigation Bar */

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.menu-container {
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-one {
  margin-left: auto;
}

.header-one,
.header-two {
  margin-right: 16px;
}

/* Hero Section */

.hero-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.text-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 8px;
}

.text-container > button {
  align-self: flex-start;
}

/* Information Section */

.info-title {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.information {
  margin-top: 30px;
  display: flex;
  gap: 52px;
  justify-content: center;
}

.item > img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 8px;
}

.item {
  width: 150px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

/* Footer */

.footer {
  margin-top: auto;
  padding: 16px 0;
  text-align: center;
}
