* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-container,
.footer,
.hero {
  background-color: #1f2937;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 2px 16px;
  border: none;
  border-radius: 4px;
}

a {
  text-decoration: none;
}

a,
.secondary,
.footer {
  font-size: 18px;
  color: #e5e7eb;
}

.CTA > button {
  border: 1px solid white;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.footer {
  margin-top: auto;
  padding: 16px 0;
  text-align: center;
}

.menu-container {
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-one {
  margin-left: auto;
}

.header-one,
.header-two {
  margin-right: 16px;
}

.info-title {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.information {
  margin-top: 30px;
  display: flex;
  gap: 52px;
  justify-content: center;
}

.item > img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 8px;
}

.item {
  width: 150px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
